/* a:hover {
    background-color: black;
}

p:hover {
    background-color: lightpink;
}

li:first-child {
    background-color: aqua;
}

li:last-child {
    background-color: bisque;
}

li:nth-child(3) {
    background-color: cadetblue;
}

div:nth-child(odd) {
    background-color: blueviolet;
}

div:nth-child(even) {
    background-color: violet;
}

Pseudo class Pseudo elements a::after {
    content: "/-";
}

a::before {
    content: "Rs.";
}

.a {
    background-color: red;
}

div.b {
    background-color: green;
}

li.b {
    background-color: yellow;
}

div[class$=c] {
    background-color: peru;
}

div[id] {
    background-color: olive;
} */

*{box-sizing: border-box;}

.ab{
    
    /* width: 300px; */
    /* width: 30%; */ 
    /* width: 50vw; */
    /* width: 20in; */
    width: 300px;
    height: 300px;
    
    /* border:5px;
    border-style: solid;
    border-color: red; */

    border: 6px solid green;
    
    /* padding: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding: 20px 10px;
    padding: 10px 5px 0px 20px; */
    padding: 10px;
    margin: 10px;

}

h2{background-color: bisque; padding: 10px;
    margin-bottom: 30px;
}